# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

build/
dist/
wheels/
*.egg-info/

# -------------------------
# Virtual environments
# -------------------------
.venv/
venv/
env/

# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# Logs
# -------------------------
logs/
*.log

# -------------------------
# Runtime / local data
# -------------------------
data/uploads/
data/chroma_db/

# -------------------------
# OS files
# -------------------------
.DS_Store

# -------------------------
# Streamlit cache
# -------------------------
.streamlit/
