# requirements.txt

# Core
fastapi
uvicorn
streamlit

# LLM & embeddings
langchain
langchain-community
langchain-openai
langchain-chroma
langchain-ollama
chromadb
ollama

# Utilities
python-dotenv
pillow
pyyaml

#Document parsing
pymupdf
langchain-text-splitters